/ Page Title
.page-title
  .container
    .row
      .span12
        %i.icon-user.page-title-icon
        %h2 Gebruikers /
        %p Een lijst van alle gebruikers
/ Users container
.container.users
  .row
    .span12
      %table.table.table-striped
        %tr
          %th Gebruikersnaam
          %th Voornaam
          %th Achternaam
          %th

        -@users.each do |user|
          %tr
            %td= link_to user.username, user
            %td= user.first_name
            %td= user.last_name
