/ Page Title
.page-title
  .container
    .row
      .span12
        %i.icon-group.page-title-icon
        %h2 Titel /
        %p Beschrijving
        =link_to root_path, class: "btn btn-custom" do
          %i.icon-plus
          =" Link"
/ Content
.container.content
  .row
    .span12
      // CONTENT HIER