/ Page Title
.page-title
  .container
    .row
      .span12
        %i.icon-flag.page-title-icon
        %h2 #{@goal.title} /
        %p Goal bewerken
        =link_to group_goal_path(@group,@goal), class: "btn btn-custom" do
          %i.icon-arrow-left
          =" Terug"
        =link_to reset_group_goal_path(@group,@goal), :data => { :confirm => 'Weet je het zeker?' }, class: "btn btn-custom" do
          %i.icon-refresh
          =" Reset"
        =link_to group_goal_path(@group,@goal), :method => :delete, :data => { :confirm => 'Weet je het zeker?' }, class: "btn btn-custom" do
          %i.icon-trash
          =" Verwijderen"
/ Content
.container.content
  .row
    .span12
      = render 'form'