/ Page Title
.page-title
  .container
    .row
      .span12
        %i.icon-flag.page-title-icon
        %h2 #{@group.title} /
        %p Stel hieronder een nieuw goal samen
        =link_to @group, class: "btn btn-custom" do
          %i.icon-arrow-left
          =" Terug"

/ Content
.container.content
  .row
    .span12
      = render 'form'
